<!doctype html>
<html>
  <head>
    <title>Index.html</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <p>This is the index file. Floop.</p>
    <strong style="color: tomato;"><%= counter %></strong>
    <img src="/cat.webp" alt="Kitteh!" />
  </body>
</html>
