<!doctype html>
<html>
  <head>
    <title>Form</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <form action="/sendForm" method="POST">
      <input type="text" name="num_one" value="" placeholder="Enter the first number" /><br />
      <input type="text" name="num_two" value="" placeholder="Enter the second number" /><br />
      <button type="submit">Send it</button>
    </form>
  </body>
</html>
